<div class="flex-col">
  <div class="grid grid-rows-1 grid-flow-col gap-4">
    <div class="row-span-3 ...">
      <div class="bg-gray-100 min-h-screen flex-col items-start justify-normal p-4 rounded lg:mt-24">
        <!-- Menu de opciones -->
          <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnCrearPaciente">
            Crear Paciente
          </button>
        
          <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnConsultarPaciente">
            Consultar Paciente
          </button>
        
          <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnConsultarPacienteUser">
            Consultar Usuarios
          </button>        
      </div>
    </div>
    <div class="col-span-2 ...">
      <div class="bg-white min-h-screen flex-col items-start justify-center p-4 lg:mt-24">
        <!-- Componente de Gestión de Pacientes -->
          <div class="w-full p-8 rounded shadow-md lg:min-h-screen">
            <h2 class="text-2xl font-bold mb-4">Paciente</h2>
            <pre>
          {{paciente}}
        </pre>
            <div class="overflow-x-auto">
              <table class="min-w-full bg-white border border-gray-200">
                <thead>
                <tr>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">ID Paciente</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Nombre</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Apellido</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Fecha de nacimiento</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Dirección</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Telefono</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">DPI</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">NIT</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Email</th>
                  <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Genero</th>
                </tr>
                </thead>
                <tbody>
                <tr>
                  <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700 whitespace-nowrap"></td>
                  <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
                  <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
                  <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
                  <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700">
                    <button class="px-3 py-1 text-white bg-blue-500 rounded hover:bg-blue-700">Editar</button>
                    <button class="px-3 py-1 text-white bg-red-500 rounded hover:bg-red-700 ml-2">Eliminar</button>
                  </td>
                </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>
        
    </div>
  </div>
</div>
