<!-- app-citas-gestion -->
<div class="flex w-full bg-gray-100 p-4 rounded shadow-md lg:min-h-screen lg:flex lg:flex-col ">
  <h2 class="text-2xl font-bold mb-6 text-center">Acciones</h2>

  <div class=" lg:flex lg:flex-col divide-y divide-gray-400">
    <!-- Botón para abrir el formulario de crear cita -->
    <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnCrearCita">
      Crear Cita
    </button>

    <!-- Botón para abrir la consulta de citas -->
    <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnConsultarCitas">
      Consultar Citas
    </button>

    <!-- Botón para abrir la consulta de doctores -->
    <button class="block w-full text-center mb-4 p-2 rounded hover:bg-gray-200 focus:outline-none focus:bg-gray-200" id="btnConsultarDoctores">
      Consultar Doctores
    </button>
  </div>
</div>
