<section class="bg-white dark:bg-gray-900 pt-10">
  <div class="py-8 px-4 mx-auto max-w-2xl lg:py-16">
      <h2 class="mb-4 text-xl font-bold text-gray-900 dark:text-white">Medicamentos</h2>
      
<form [formGroup]="medicamentoForm" (submit)="onSubmitMedicamento()">
  <div class="grid gap-6 mb-6 md:grid-cols-2">
      <div>
          <label for="first_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Codigo</label>
          <input formControlName="codigo_medicamento" type="text" id="first_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" required />
      </div>
      <div>
          <label for="last_name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Nombre Medicamento</label>
          <input formControlName="nombre_medicamento"    type="text" id="last_name" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
      </div>
      <div>
          <label for="company" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">Tipo Medida (mL, gr)</label>
          <input formControlName="tipo_medida" type="text" id="company" class="bg-gray-50 border border-gray-300 text-gray-900 text-sm rounded-lg focus:ring-blue-500 focus:border-blue-500 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500"  required />
      </div>  
      
  </div>
  
  <button  class="inline-flex items-center px-5 py-2.5 mt-4 sm:mt-6 text-sm font-medium text-center text-white bg-purple-500 rounded-lg focus:ring-4 focus:ring-primary-200 dark:focus:ring-primary-900 hover:bg-purple-400">
    Guardar
</button>

</form>

  </div>
</section>
