<!DOCTYPE html>
<html lang="es">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="https://cdnjs.cloudflare.com/ajax/libs/tailwindcss/2.2.19/tailwind.min.css" rel="stylesheet">
<link href="https://cdn.jsdelivr.net/npm/boxicons@2.0.7/css/boxicons.min.css" rel="stylesheet">
<title>Barra de Navegación Lateral</title>
</head>
<body class="bg-gray-100">
  <script>
    // Función para alternar la visibilidad de la barra lateral
    function toggleSidebar() {
      const sidebar = document.getElementById('sidebar');
      sidebar.classList.toggle('hidden');
    }

    // Función para contraer y desplegar el menú
    function toggleMenu() {
      const sidebarContent = document.getElementById('sidebar-content');
      const toggleIcon = document.getElementById('toggle-icon');
      sidebarContent.classList.toggle('w-64');
      sidebarContent.classList.toggle('w-20');
      toggleIcon.classList.toggle('bx-chevron-left');
      toggleIcon.classList.toggle('bx-chevron-right');
    }
  </script>
  <!-- Barra de navegación lateral -->
  <div id="sidebar" class="flex h-screen bg-gray-200">
    <!-- Barra lateral -->
    <div id="sidebar-content" class="w-64 bg-gray-800 p-6 text-white transition-all duration-300">
      <div class="flex justify-between items-center">
        <h1 class="text-2xl font-bold">Menú</h1>
        <button onclick="toggleMenu()" class="text-white focus:outline-none">
          <i class='bx bx-chevron-left' id="toggle-icon"></i>
        </button>
      </div>
      <ul class="mt-6">
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/usuarios" routerLinkActive="active" (click)="modUser()">
            <i class='bx bxs-user mr-2'></i>
            Usuarios
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          [routerLink]="['/administrador/paciente/',0]" routerLinkActive="active">
            <i class='bx bxs-user mr-2'></i>
            Pacientes
          </a>
        </li>
        
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/consultaPaciente" routerLinkActive="active" (click)="consultaPaciente()">
            <i class='bx bxs-user mr-2'></i>
            Pacientes Consulta
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/citas" routerLinkActive="active" (click)="modCitas()">
            <i class='bx bxs-calendar mr-2'></i>
            Citas
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/citasprogramadas" routerLinkActive="active" (click)="modCitasProgra()">
            <i class='bx bxs-calendar-check mr-2'></i>
            Citas Programadas
          </a>
        </li>

        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/factura" routerLinkActive="active" (click)="modFactura()">
            <i class='bx bxs-receipt mr-2'></i>
            Facturas
          </a>
        </li>
        <!-- Nuevos módulos -->
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          [routerLink]="['/administrador/medicamentos/',0]" routerLinkActive="active">
            <i class='bx bxs-capsule mr-2'></i>
            Medicamentos
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          [routerLink]="['/administrador/recetas/',0]" routerLinkActive="active">
            <i class='bx bxs-prescription mr-2'></i>
            Receta Médica
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/consultaReceta" routerLinkActive="active" (click)="consultaReceta()">
            <i class='bx bxs-user mr-2'></i>
            Receta Consulta
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/medico" routerLinkActive="active" (click)="modDoctores()">
            <i class='bx bxs-user-voice mr-2'></i>
            Doctores
          </a>
        </li>
        <li class="py-2">
          <a href="#" class="flex items-center text-gray-200 hover:text-white"
          routerLink="administrador/historial" routerLinkActive="active" (click)="modHistorial()">
            <i class='bx bx-history mr-2'></i>
            Historial Médico
          </a>
        </li>
      </ul>
      <!-- Opción de cerrar sesión -->
      <div class="mt-auto">
        <ul>
          <li class="py-2">
            <a href="#" class="flex items-center text-gray-200 hover:text-white"
            (click)="logout()">
              <i class='bx bx-log-out mr-2'></i>
              Cerrar Sesión
            </a>
          </li>
        </ul>
      </div>
      <!-- Botón para desplegar la barra lateral en dispositivos móviles -->
      <div class="md:hidden mt-6">
        <button onclick='toggleSidebar()' class="bg-gray-600 text-white py-2 px-4 rounded-lg focus:outline-none">
          Desplegar
        </button>
      </div>
    </div>

    <!-- Contenido principal -->
    <div class="flex flex-col flex-1">
      <!-- Barra de navegación superior -->
      <div class="bg-gray-800 p-4">
        <button onclick='toggleSidebar()' class="text-white focus:outline-none">
          <i class='bx bx-menu text-2xl'></i>
        </button>
      </div>

      <!-- Contenido de la página con scroll si es necesario -->
      <div class="p-8 max-h-screen overflow-y-auto">
        <!-- Aquí se puede agregar el contenido dinámico -->
        <router-outlet></router-outlet>
      </div>
    </div>
  </div>

</body>
</html>
