<!-- Estructura de la página -->
<div class="bg-white min-h-screen flex flex-col lg:flex-row items-start justify-center p-4 lg:mt-24">
  <!-- Componente de Gestión de Citas -->
  <div class="flex-col">
    <app-citas-gestion></app-citas-gestion>
  </div>

  <!-- Formulario de Crear Cita -->
  <form class="w-full lg:w-4/5 rounded shadow-md lg:ml-4 lg:min-h-screen flex flex-col items-center px-4 py-2">
    <div class="max-w-lg" >
    <h2 class="text-2xl font-bold mb-6 text-center">Crear Cita</h2>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="id_paciente">Paciente</label>
      <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline" id="id_paciente" name="id_paciente">
        <option value="">Selecciona un paciente</option>
        <option value="1">Opción 1</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="fecha_cita">Fecha y Hora</label>
      <input type="datetime-local" class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded leading-tight focus:outline-none focus:shadow-outline sm:text-sm" id="fecha_cita" name="fecha_cita">
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="descripcion">Descripción</label>
      <textarea class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 rounded leading-tight focus:outline-none focus:shadow-outline" id="descripcion" name="descripcion" rows="3" placeholder="Descripción de la cita"></textarea>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="id_usuario">Usuario</label>
      <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline" id="id_usuario" name="id_usuario">
        <option value="">Selecciona un usuario</option>
      </select>
    </div>

    <div class="mb-4">
      <label class="block text-gray-700 font-bold mb-2" for="id_medico">Médico</label>
      <select class="block appearance-none w-full bg-white border border-gray-400 hover:border-gray-500 px-4 py-2 pr-8 rounded leading-tight focus:outline-none focus:shadow-outline" id="id_medico" name="id_medico">
        <option value="">Selecciona un médico</option>
      </select>
    </div>

    <div class="flex items-center justify-between">
      <button class="shadow bg-purple-500 hover:bg-purple-400 focus:shadow-outline focus:outline-none text-white font-bold py-2 px-4 rounded" type="submit">
        Crear Cita
      </button>
    </div>
    </div>
  </form>
</div>
