<!-- Componente de Gestión de Citas -->
<app-citas-gestion></app-citas-gestion>
<div class="bg-white min-h-screen flex flex-col lg:flex-row items-start justify-center p-4 lg:mt-24">
<!-- Componente de Gestión de Citas -->
  <div class="w-full p-8 rounded shadow-md lg:min-h-screen">
    <h2 class="text-2xl font-bold mb-4">Citas Programadas</h2>
    <pre>
  {{cita}}
</pre>
    <div class="overflow-x-auto">
      <table class="min-w-full bg-white border border-gray-200">
        <thead>
        <tr>
          <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Fecha</th>
          <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Descripción</th>
          <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Estado</th>
          <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Médico</th>
          <th class="px-4 py-2 border-b border-gray-200 bg-gray-100 text-left text-sm font-semibold text-gray-600">Acciones</th>
        </tr>
        </thead>
        <tbody>
        <tr>
          <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700 whitespace-nowrap"></td>
          <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
          <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
          <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700"></td>
          <td class="px-4 py-2 border-b border-gray-200 text-sm text-gray-700">
            <button class="px-3 py-1 text-white bg-blue-500 rounded hover:bg-blue-700">Editar</button>
            <button class="px-3 py-1 text-white bg-red-500 rounded hover:bg-red-700 ml-2">Eliminar</button>
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
